.X {
    background: rgb(196,48,68);
}

.S {
    background: rgb(106,0,255);
}

.A {
    background: rgb(0,108,255);
}

.B {
    background: rgb(48,178,196);
}

.C {
    background: rgb(0, 114, 89);
}

.D {
    background: rgb(0, 179, 101);
}